@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(204, 202, 202); /* lightblue */
  padding-bottom: 200px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
nav {
  background-color: rgb(26, 25, 25);
  height: 70px;
  margin-bottom: 50px;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition-duration: .2s;
}
nav ul li a:hover {
  border-bottom: solid 2px rgb(84, 224, 224);
  color: white;
}
nav ul li i.bi-heart-fill {
  font-size: 25px;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: space-evenly; 
}
nav ul li.logo {
  position: absolute;
  left: 0;
  top: -30px;
  cursor: pointer;
}
/************** styling active links : link of current page via NavLink*/
nav ul li a.active {
  color: rgb(236, 126, 24);
}
/************************************/
nav ul li.favori i.bi-heart-fill {
  font-size: 28px;
}
nav ul li.favori {
  position: relative;
}
nav ul li.favori a:hover {
  border: none;
}
nav ul li.favori .countFavori {
 position: absolute;
 top: -8px;
 right: -10px;
 background-color: rgba(255, 255, 0, 0.5);
 border-radius: 50%;
 width: 15px;
 font-size: 18px;
}
nav ul li a i.bi-cart-fill {
  font-size: 25px;
}
nav ul li.cart a:hover {
  border: none;
}
.footer {
  width: 100%;
  position:absolute;
  bottom: 0;
  min-height: 60px;
  font-weight: 600;
  font-size: 22px;
  font-family:'Times New Roman', serif   ;
  color: white;
  background-color: rgb(26, 25, 25);
}
.footer .social-icons a {
  margin-right: 18px;
  font-size: 20px;
}
/********************************************/
.allprod-container {
  background-color: rgba(248, 205, 124, 0.637) ; /*rgba(150, 110, 35, 0.767)*/
  padding: 50px 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgb(31, 30, 30);
  margin-bottom: 200px;
}
.product-container {
  background-color: rgb(224, 224, 224) ;
  max-height: 300px;
  border-radius: 50px 30px;
  padding: 0 ;
  padding-bottom: 12px;
  border: solid 1px gray; 
}
.product-container img {
  border-radius: 50px 30px 0px 0px;
}
.product-container .product-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  margin-top: 20px;
  font-size: 16px ;
  position: relative;
}
.product-container .product-content .bi-heart-fill {
  position: absolute;
  bottom: 25px; /*15px*/
  right: 8px;
  cursor: pointer;
}
.product-container .product-content input {
  z-index: 5;
  color: red;
}
.product-container button {
  color: white;
  margin-bottom: 20px;
  transition-duration: .4s;
  font-size: 13px;
}
.product-container button.add {
  background-color: blueviolet;
  width: 70%;
}
.product-container button.remove {
  width: 80%;
}
.product-container button.add:hover {
  background-color: rgb(127, 44, 211);
  color: rgb(189, 188, 188);
}
.product-container button.remove:hover {
  background-color: #df2a3c;
  color: rgb(189, 188, 188);
}

.favori-container, .cart-container {
  background-color: white;
  min-height: 40%;
  width: 60%;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 50px black;
  padding: 35px;
}
.favori-container .item-favori button {
  /*display: flex;
  justify-content: space-evenly;
  align-items: center;*/
  width: 30px;
  padding-right: 28px;
}
.favori-container .item-favori img {
  margin-left: -35px;
}
.favori-container .item-favori {
  transition-duration: .4s;
}
.favori-container .item-favori:hover {
  background-color: rgba(190, 187, 187, 0.671);
  transform: scale(1.1);
}
.cart-item-container {
  background-color: rgb(209, 206, 206);
  transition-duration: .4s;
}
.cart-item-container p {
  font-size: 22px;
}
.cart-item-container img {
  margin-left: -12px;
}
.cart-item-container button {
  width: 30px;
  font-size: 15px;
  padding-left: 8px;
}
.cart-item-container .quantity-container button {
  background-color: rgb(102, 196, 219);
  color: white;
  font-size: 20px;
  height: 32px;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: 35px;
}
.cart-item-container:hover {
  transform: scale(1.1);
  box-shadow: 10px 8px 15px violet;
}
.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  position: relative;
  font-size: 22px;
}
.total-container p {
  border-radius: 15px;
  width: 150px;
  border: solid 1px violet;
  background-color: rgb(235, 169, 235);
  margin-right: 35px;
  /*margin-right: -350px;*/
}
.total-container span {
  /*margin-left: -50px;*/
  position: absolute;
  right: 0;
  top:0px;
}
.filtre-container {
text-align: start;
background-color: white;
padding: 20px;
border-radius: 15px;
box-shadow: 15px 8px 20px rgb(61, 61, 61);
height: 500px;
position: relative;
}
.filtre-container ul li {
  list-style-type: none;
}
.filtre-container input {
  margin-right: 10px;
}
.filtre-container .bi-funnel-fill {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 25px;
}
/***************************************************/
.home {
  margin-top: 50px;
}
.home .slogan {
  background-color: #ffffffa2;
  padding: 125px 8px  ; 
  margin-right: -12px;
}
.home .slogan h2 {
  font-size: 35px;
}
.discover a {
  font-size: 24px;
}
@media all and (max-width: 1199px) {
  .home .slogan {
    padding: 70px 8px ;
  }
}
@media all and (max-width: 991px) {
  .home .slogan {
    padding: 70px 0px ;
    margin-right: 0;
  }
}